.DS_Store
HW2/properties_2016.csv
HW2/sample_submission.csv
HW2/submission_11.csv
HW2/submission_11_1.csv
HW2/submission_11_2.csv
HW2/submission_11_3.csv
HW2/submission_22.csv
HW2/train_2016_v2.csv
HW2_backup/
